@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: red;
}

.container{
    max-width: 1070px;
    margin: 3rem auto;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-start{
    align-items: start;
}